#root {
  max-width: 30vw;
  max-height: 100vh;
}
@media (pointer: coarse) and (max-width: 768px) { 
  #root {
    max-width: 100vw;
  }
  #header {
    z-index: 4;
  }
  #details {
    z-index: 3;
  }
  #messages {
    z-index: 0;
  }
  #footer {
    z-index: 1;
  }
}
body {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
div {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
#main {
  margin-top: auto;
}
#profile {
  max-width: 15%;
  border: 1px solid white;
}
.time {
  color: green;
}
.bubble {
  --r: 1em; /* the radius */
  --t: 1.5em; /* the size of the tail */

  max-width: 300px;
  padding: 1em;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t)) / var(--r);
  mask: radial-gradient(100% 100% at var(--_p) 0, #0000 99%, #000 102%)
      var(--_p) 100% / var(--t) var(--t) no-repeat,
    linear-gradient(#000 0 0) padding-box;
  background: linear-gradient(135deg, #fe6d00, #1384c5) border-box;
  color: #fff;
}
.left {
  --_p: 0;
  border-bottom-left-radius: 0 0;
  place-self: start;
}
.right {
  --_p: 100%;
  border-bottom-right-radius: 0 0;
  place-self: end;
}
.microphone {
  border-radius: 100%;
  border: white solid 1px;
  color: darkgreen;
  background-color: lightgreen;
}
